<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>

<body>
    <form method="post" action="/submit">
        <fieldset>
            <legend>Todo list</legend>
            <%- include('checkbox', list) %>
        </fieldset>
        <!-- <button type="submit">Get Score</button> -->
    </form>
</body>

</html>